{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>I am a Python developer in the Orlando, FL area. This blog is a collection of my notes while learning Algorithms and Data Structures.</p>
            <p>While my posts are meant to be notes for me to review, hopefully they help someone else on their DS and Algorithm path.</p>
            <p>If you'd like to see more of my work, please visit my
                <a href="https://marceia.me">portfolio.</a>
            </p>
        </div>
    </div>
</div>

<hr>

    {% include "footer.html" %}
