{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  {% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{title}}</h1>
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- This is where the form will go -->
        <form method="post">
          {{ form.csrf_token }}
          <label>
            <p class="label-txt">Title</p>
            {{ form.title(class='input') }}
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label><br>
          <label>
            <p class="label-txt">Subitle</p>
            {{ form.subtitle(class='input') }}
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label><br>
          <label>
            <p class="label-txt">Your Name</p>
            {{ form.author(class='input') }}
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label><br>
          <label>
            <p class="label-txt">Blog Image URL</p>
            {{ form.img_url(class='input') }}
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label><br>
          <label>
            <p class="label-txt">Blog Content</p>
            {{ form.body() }}

            <div class="line-box">
              <div class="line"></div>
            </div>
          </label><br>
          {{ form.submit(class="btn btn-primary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
      </div>
    </div>
  </div>

  {% include "footer.html" %}
{% endblock %}
