{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <h2 class="subheading">{{post.subtitle}}</h2>
          <span class="meta">Posted by
            <a href="#">{{post.author}}</a>
            on
            {{post.date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          {{post.body|safe}}
        </p>

        <h3>Comments</h3>
        <form method="post">
          {{ form.csrf_token }}
          <label>
            <p class="label-txt">ENTER YOUR NAME</p>
            {{ form.comment_body() }}
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label><br>
          {{ form.submit(class="btn btn-primary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='comment_body') }}
        <hr>
        <div class="clearfix">
          {% if current_user.is_authenticated and current_user.id == 1 : %}
            <a class="btn btn-primary float-right" href="{{url_for('posts_bp.edit_post', index=post.id)}}">Edit Post</a>
          {% endif %}
        </div>
        <div class="col-lg-8 col-md-10 mx-auto comment">
          {% for comment in comments : %}
            <ul class="commentList">
              <li>
                <div class="commenterImage">
                  <img src="{{ comment.users.name | gravatar }}"/>
                </div>
                <div class="commentText">
                  {{comment.text|safe}}
                  <span class="date sub-text">{{ comment.users.name }}</span>
                </div>
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>

  <hr>
  {% include "footer.html" %}
